@import "variables";
html {
  font-size: 0.5rem;
}
body {
  font: 14px/18px 'Roboto', arial;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@import "custom";
